{% extends '_base.html' %}

{% block title %}Password Reset Confirm{% endblock %}

{% block content %}
  {% if validlink %}
  <p>Please enter your new password.</p>
  <form  method="post">
    {% csrf_token %}

    {{ form.new_password1.errors }}
    <p>{{ form.new_password1.label_tag }}</p>
    <p>{{form.new_password1}}</p>

    {{form.new_password2.errors}}
    <p>{{form.new_password2.label_tag}}</p>
    <p>{{form.new_password2}}</p>

    <input type="submit" name="" value="Change Password">
  </form>
  {% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
  {% endif %}

{% endblock %}
